#tabla{
    align-self: center;
    border: solid 1px;
    border-collapse: collapse;
    margin: 30px;
    padding: 10px;
    width: 500px;
    th,td{
        border: solid 1px;
        padding: 5px;
    }
}
