@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 200px;
  margin: 20px;
  background-color: rgb(93, 193, 185);
  border: none;
}
.card p {
  color: black;
}
.card p:nth-of-type(2) {
  color: black;
}
.card h2 {
  color: black;
}
.card:hover p {
  color: chartreuse;
}
.card:hover h2 {
  color: rgb(209, 36, 36);
}

.navbar_links, .navbar_menu, .navbar_logo {
  display: flex;
  align-items: center;
}

.navbar {
  background: rgb(33, 0, 79);
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 768px) {
  .navbar .navbar {
    max-width: max-content;
  }
}
.navbar_logo {
  color: red;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 24px;
}
.navbar_bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar_bars {
    color: black;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar_menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
}
@media screen and (max-width: 768px) {
  .navbar_menu {
    display: none;
  }
}
.navbar_links {
  color: red;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar_links:hover {
  color: rgb(62, 248, 208);
  transition: all 0.3s ease;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item1 img {
  width: 100px;
}

.item1 img:hover {
  width: 100px;
  transform: rotateX(360deg);
  transition: 2s;
}

.item2 img {
  width: 100px;
}

.item2 img:hover {
  width: 100px;
  transform: rotateX(360deg);
  transition: 2s;
}

.item3 img {
  width: 100px;
}

.item3 img:hover {
  width: 100px;
  transform: rotateX(360deg);
  transition: 2s;
}

.item4 img {
  width: 100px;
}

.item4 img:hover {
  width: 100px;
  transform: rotateX(360deg);
  transition: 2s;
}

.item5 img {
  width: 100px;
}

.item5 img:hover {
  width: 100px;
  transform: rotateX(360deg);
  transition: 2s;
}

.item6 img {
  width: 100px;
}

.item6 img:hover {
  width: 100px;
  transform: rotateX(360deg);
  transition: 2s;
}

.item1 p, .item1 h3 {
  padding: 10px;
}

.item2 p, .item1 h3 {
  padding: 10px;
}

.item3 p, .item1 h3 {
  padding: 10px;
}

.item4 p, .item1 h3 {
  padding: 10px;
}

.item5 p, .item1 h3 {
  padding: 10px;
}

.item6 p, .item1 h3 {
  padding: 10px;
}

.item1 {
  width: 300px;
  padding: 10px;
  border: 2px solid;
  transition: 3s;
  margin: 50px;
}

.item2 {
  width: 300px;
  padding: 10px;
  border: 2px solid;
  margin: 50px;
}

.item3 {
  width: 300px;
  padding: 10px;
  border: 2px solid;
  margin: 50px;
}

.item4 {
  width: 300px;
  padding: 10px;
  border: 2px solid;
  margin: 50px;
}

.item5 {
  width: 300px;
  padding: 10px;
  border: 2px solid;
  margin: 50px;
}

.item6 {
  width: 300px;
  padding: 10px;
  border: 2px solid;
  margin: 50px;
}

.ofertas h2 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  margin: 20px;
  background-color: rgb(84, 209, 0);
}
.btn:hover {
  background-color: violet;
}

body {
  background-color: rgb(0, 0, 0);
}

#tabla {
  align-self: center;
  border: solid 1px;
  border-collapse: collapse;
  margin: 30px;
  padding: 10px;
  width: 500px;
}
#tabla th, #tabla td {
  border: solid 1px;
  padding: 5px;
}

.text_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (max-width: 768px) {
  .text_container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.text_container-left {
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .text_container-left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 280px) {
  .text_container-left {
    line-height: 1.5;
  }
}
.text_container-left h1 {
  font-size: 4rem;
  color: red;
}
@media screen and (max-width: 280px) {
  .text_container-left h1 {
    font-size: 1.5rem;
  }
}
.text_container-left h2 {
  font-size: 4rem;
  color: red;
}
@media screen and (max-width: 280px) {
  .text_container-left h2 {
    font-size: 2rem;
  }
}
.text_container-left p {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  color: red;
}
@media screen and (max-width: 280px) {
  .text_container-left p {
    font-size: 2rem;
  }
}
.text_container-left p a {
  text-decoration: none;
  color: red;
}
.text_container-btn {
  font-size: 1rem;
  background-color: rgb(118, 39, 221);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: black;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}
.text_container-btn a {
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;
}
.text_container-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgb(21, 255, 0);
  transition: all 0.3s;
  border-radius: 4px;
}
.text_container-btn:hover:after {
  width: 100%;
}
.text_container-right {
  text-align: center;
}
.text_container-img {
  height: 100%;
}

.formulario {
  font-family: "Quicksand", sans-serif;
  background-color: rgba(34, 34, 34, 0.3);
  width: 800px;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
  box-shadow: 0px 0px 20px 0px rgb(0, 255, 13);
  color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 60px;
  grid-template-areas: "zona1 zona1" "zona2 zona3" "zona4 zona5" "zona6 zona6" "zona7 zona7";
}
.formulario label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.formulario label input, .formulario label textarea {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(14, 134, 10);
  color: black;
  margin-top: 10px;
}
.formulario h2 {
  grid-area: zona1;
}
.formulario button {
  grid-area: zona7;
  background-color: rgb(102, 255, 0);
  border: none;
  color: black;
  margin: 10px;
  border-radius: 5px;
}

.formulario label:nth-child(2) {
  grid-area: zona2;
}

.formulario label:nth-child(3) {
  grid-area: zona3;
}

.formulario label:nth-child(4) {
  grid-area: zona4;
}

.formulario label:nth-child(5) {
  grid-area: zona5;
}

.formulario label:nth-child(6) {
  grid-area: zona6;
}

.info {
  margin: 10px;
  padding: 10px;
}
.info p {
  padding: 10px;
}

.permiso {
  margin: 10px;
  padding: 10px;
  width: 1200px;
  height: auto;
}
.permiso p {
  padding: 10px;
}